def test_docker_is_installed(Package):
    docker = Package("docker-engine")
    assert docker.is_installed
    assert docker.version.startswith("17")


def test_docker_running_and_enabled(Service):
    docker = Service("docker")
    assert docker.is_running
    assert docker.is_enabled
